.message {
    display: flex;
    justify-content: end;

}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
}

.imageAndText img {
    width: 60px;
}

.text {


}

.text:after {

}

.name {
    display: flex;
    justify-content: end;
    margin: 10px;
}

.messageText {
    margin: 10px;
}

.time {

}